h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15em;
    color: deeppink;
    letter-spacing: -10pt;
    filter: blur(30px);
    position: absolute;
}

.blur1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15em;
    color: deeppink;
    letter-spacing: -10pt;
    position: absolute;
    filter: blur(20px);
}

.blur2{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15em;
    color: deeppink;
    letter-spacing: -10pt;
    filter: blur(10px);
    position: absolute;
}

.blur3{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15em;
    color: deeppink;
    letter-spacing: -10pt;
    position: absolute;
}
