*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}


.testing{
   font-size: 40px;
   color: blue;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

button{
    width: 200px;
    background-color: blueviolet;
    color: tomato;
}
